In [1]:
from selenium import webdriver
import time
import pandas as pd
import requests
import json
from sklearn.model_selection import train_test_split
from xgboost import XGBRegressor
import seaborn as sns

In [2]:
import warnings;
warnings.simplefilter('ignore')

In [3]:
path=r'C:\Users\hp\Downloads\chromedriver_win32 (1)\chromedriver.exe'
browser=webdriver.Chrome(executable_path=path)

In [4]:
browser.get('https://data.covid19india.org/')

In [5]:
data=browser.find_element_by_xpath('/html/body/div/table[1]/tbody/tr[1]/td[2]/a')

In [6]:
data.click()

In [7]:
time.sleep(10)

In [8]:
r=requests.get('https://data.covid19india.org/v4/min/timeseries.min.json')

In [9]:
column_name=['dates','total_confirmed','total deceased']
Df=pd.DataFrame(columns=column_name)
Df
column_name=['dates','total_confirmed','total deceased']
D_frame=pd.DataFrame(columns=column_name)
D_frame

Empty DataFrame
Columns: [dates, total_confirmed, total deceased]
Index: []

In [10]:
state=['AN','AP','AR','AS','BR','CH','CT','DN','DD','DL','GA','GJ','HR','HP','JK','JH','KA','KL','LD','MP','MH','MN','ML','MZ','NL','OR','PY','PB','RJ','SK','TN','TG','TR','UP','UT','WB']
print(state)

['AN', 'AP', 'AR', 'AS', 'BR', 'CH', 'CT', 'DN', 'DD', 'DL', 'GA', 'GJ', 'HR', 'HP', 'JK', 'JH', 'KA', 'KL', 'LD', 'MP', 'MH', 'MN', 'ML', 'MZ', 'NL', 'OR', 'PY', 'PB', 'RJ', 'SK', 'TN', 'TG', 'TR', 'UP', 'UT', 'WB']

In [11]:
state_ab=input("ENTER THE STATE ABBREVIATION FROM ABOVE AN/GA/MH ")

ENTER THE STATE ABBREVIATION FROM ABOVE AN/GA/MH KL

In [12]:
Dat0={}
data0=json.loads(r.text)[state_ab]['dates']['2020-1{}-3{}'.format(2,1)]['total']['confirmed']
Data0=json.loads(r.text)[state_ab]['dates']['2020-1{}-3{}'.format(2,1)]['total']['deceased']
#data1=json.loads(r.text)['KL']['dates']
#print((data))
Dat0[Df.columns[0]]=str(['20201{}3{}'.format(2,1)])
Dat0[Df.columns[1]]=data0
Dat0[Df.columns[2]]=Data0
Df=Df.append(Dat0,ignore_index=True)
for k in range(9):
    for i in range(9):
        try:
            Dat={}
           
            
            data1=json.loads(r.text)[state_ab]['dates']['2021-0{}-0{}'.format(k+1,i+1)]['total']['confirmed']
            Data1=json.loads(r.text)[state_ab]['dates']['2021-0{}-0{}'.format(k+1,i+1)]['total']['deceased']
        #data1=json.loads(r.text)['KL']['dates']
        #print((data))
            Dat[Df.columns[0]]=str('2021/{}/{}'.format(k+1,i+1))
           
            Dat[Df.columns[1]]=data1
            Dat[Df.columns[2]]=Data1
            Df=Df.append(Dat,ignore_index=True)
            D_frame=D_frame.append(Dat,ignore_index=True)
        
        except:
            continue
    for j in range(10):
        try:
            Dat2={}
            data2=json.loads(r.text)[state_ab]['dates']['2021-0{}-1{}'.format(k+1,j)]['total']['confirmed']
            Data2=json.loads(r.text)[state_ab]['dates']['2021-0{}-1{}'.format(k+1,j)]['total']['deceased']
        #data1=json.loads(r.text)['KL']['dates']
        #print((data))
            Dat2[Df.columns[0]]=str('2021/{}/1{}'.format(k+1,j))
           
            Dat2[Df.columns[1]]=data2
            Dat2[Df.columns[2]]=Data2
            
            Df=Df.append(Dat2,ignore_index=True)
            D_frame=D_frame.append(Dat2,ignore_index=True)
        
        except:
            continue  
    for l in range(10):
        try:
            Dat3={}
            data3=json.loads(r.text)[state_ab]['dates']['2021-0{}-2{}'.format(k+1,l)]['total']['confirmed']
            Data3=json.loads(r.text)[state_ab]['dates']['2021-0{}-2{}'.format(k+1,l)]['total']['deceased']
        #data1=json.loads(r.text)['KL']['dates']
        #print((data))
            Dat3[Df.columns[0]]=str('2021/{}/2{}'.format(k+1,l))
           
            Dat3[Df.columns[1]]=data3
            Dat3[Df.columns[2]]=Data3
            Df=Df.append(Dat3,ignore_index=True)
            D_frame=D_frame.append(Dat3,ignore_index=True)
        
        except:
            continue 
    
    for m in range(2):
        try:
            Dat4={}
            data4=json.loads(r.text)[state_ab]['dates']['2021-0{}-3{}'.format(k+1,m)]['total']['confirmed']
            Data4=json.loads(r.text)[state_ab]['dates']['2021-0{}-3{}'.format(k+1,m)]['total']['deceased']
        #data1=json.loads(r.text)['KL']['dates']
        #print((data))
            Dat4[Df.columns[0]]=str('2021/{}/3{}'.format(k+1,m))
           
            Dat4[Df.columns[1]]=data4
            Dat4[Df.columns[2]]=Data4
            Df=Df.append(Dat4,ignore_index=True)
            D_frame=D_frame.append(Dat4,ignore_index=True)
        
        except:
            continue

In [13]:
display(Df)

            dates total_confirmed total deceased
0    ['20201231']          760934           3073
1        2021/1/1          765925           3096
2        2021/1/2          771253           3117
3        2021/1/3          775853           3142
4        2021/1/4          778874           3161
..            ...             ...            ...
269     2021/9/26         4629888          24603
270     2021/9/27         4641587          24661
271     2021/9/28         4652783          24810
272     2021/9/29         4664944          24965
273     2021/9/30         4680858          25087

[274 rows x 3 columns]

In [14]:
#n_rows=Df.shape[0]
Df.dtypes

dates              object
total_confirmed    object
total deceased     object
dtype: object

In [15]:
#pd.set_option('display.max_rows',n_rows)
D_frame=D_frame.rename(columns={"total_confirmed":"active_cases"})
D_frame=D_frame.rename(columns={"total deceased":"daily_deaths"})

In [16]:
D_frame

         dates active_cases daily deaths
0     2021/1/1       765925         3096
1     2021/1/2       771253         3117
2     2021/1/3       775853         3142
3     2021/1/4       778874         3161
4     2021/1/5       784489         3185
..         ...          ...          ...
268  2021/9/26      4629888        24603
269  2021/9/27      4641587        24661
270  2021/9/28      4652783        24810
271  2021/9/29      4664944        24965
272  2021/9/30      4680858        25087

[273 rows x 3 columns]

In [17]:

#rows=D_frame.shape[0]
#pd.set_option('display.max_rows',rows)

In [18]:

#D_frame

In [19]:
D_frame.loc[:,"active_cases"]=D_frame.loc[:,"active_cases"]- Df.loc[:,"total_confirmed"]
D_frame.loc[:,"daily_deaths"]=D_frame.loc[:,"daily_deaths"]- Df.loc[:,"total deceased"]

In [20]:
D_frame

         dates active_cases daily deaths
0     2021/1/1         4991           23
1     2021/1/2         5328           21
2     2021/1/3         4600           25
3     2021/1/4         3021           19
4     2021/1/5         5615           24
..         ...          ...          ...
268  2021/9/26        15951          165
269  2021/9/27        11699           58
270  2021/9/28        11196          149
271  2021/9/29        12161          155
272  2021/9/30        15914          122

[273 rows x 3 columns]

In [21]:
D_frame.dtypes

dates           object
active_cases    object
daily deaths    object
dtype: object

In [ ]:
Df["active_cases"]=D_frame[["active_cases"]].copy()

In [26]:
Df

            dates total_confirmed total deceased active_cases
0    ['20201231']          760934           3073         4991
1        2021/1/1          765925           3096         5328
2        2021/1/2          771253           3117         4600
3        2021/1/3          775853           3142         3021
4        2021/1/4          778874           3161         5615
..            ...             ...            ...          ...
269     2021/9/26         4629888          24603        11699
270     2021/9/27         4641587          24661        11196
271     2021/9/28         4652783          24810        12161
272     2021/9/29         4664944          24965        15914
273     2021/9/30         4680858          25087          NaN

[274 rows x 4 columns]

In [39]:
Df.drop(labels=["dates","total_confirmed","total deceased"],axis=1,inplace=True)

In [32]:
Df.dropna(inplace=True)

In [40]:
Df

    active_cases
0           4991
1           5328
2           4600
3           3021
4           5615
..           ...
268        15951
269        11699
270        11196
271        12161
272        15914

[273 rows x 1 columns]

In [41]:
Df["Target_cases"]=Df.active_cases.shift(-1)

In [42]:
Df

    active_cases Target_cases
0           4991         5328
1           5328         4600
2           4600         3021
3           3021         5615
4           5615         6394
..           ...          ...
268        15951        11699
269        11699        11196
270        11196        12161
271        12161        15914
272        15914          NaN

[273 rows x 2 columns]

In [43]:
Df.dropna(inplace=True)

In [44]:
Df

    active_cases Target_cases
0           4991         5328
1           5328         4600
2           4600         3021
3           3021         5615
4           5615         6394
..           ...          ...
267        16671        15951
268        15951        11699
269        11699        11196
270        11196        12161
271        12161        15914

[272 rows x 2 columns]

In [45]:
def train_test_split(dat_frame,per):
    dat_frame=dat_frame.values
    l=int(len(dat_frame)*(1-per))
    return dat_frame[:l],dat_frame[l:]

In [46]:
train,test=train_test_split(Df,0.2)

In [47]:
print(len(D_frame))
print(len(train))
print(len(test))

273
217
55

In [61]:
test

array([[19948, 20367],
       [20367, 18607],
       [18607, 13049],
       [13049, 21119],
       [21119, 23500],
       [23500, 21445],
       [21445, 20452],
       [20452, 19451],
       [19451, 18582],
       [18582, 12294],
       [12294, 21613],
       [21613, 21427],
       [21427, 21116],
       [21116, 20224],
       [20224, 17106],
       [17106, 10402],
       [10402, 13383],
       [13383, 24296],
       [24296, 31445],
       [31445, 30077],
       [30077, 32801],
       [32801, 31265],
       [31265, 29836],
       [29836, 19622],
       [19622, 30203],
       [30203, 32803],
       [32803, 32097],
       [32097, 29322],
       [29322, 29682],
       [29682, 26701],
       [26701, 19688],
       [19688, 25772],
       [25772, 30196],
       [30196, 26200],
       [26200, 25010],
       [25010, 20487],
       [20487, 20240],
       [20240, 15058],
       [15058, 15876],
       [15876, 17681],
       [17681, 22182],
       [22182, 23260],
       [23260, 19325],
       [19325, 19653],
       [19653, 15692],
       [15692, 15768],
       [15768, 19675],
       [19675, 19682],
       [19682, 17983],
       [17983, 16671],
       [16671, 15951],
       [15951, 11699],
       [11699, 11196],
       [11196, 12161],
       [12161, 15914]], dtype=object)

In [53]:
X1=train[:,:-1]
y1=train[:,-1]

In [54]:
y1

array([5328, 4600, 3021, 5615, 6394, 5051, 5142, 5528, 4545, 3110, 5507,
       6004, 5490, 5624, 5960, 5005, 3346, 6186, 6815, 6334, 6753, 6960,
       6036, 3361, 6293, 5659, 5771, 6268, 6282, 5266, 3459, 5716, 6356,
       6102, 5610, 5942, 6075, 3742, 5214, 5980, 5281, 5397, 5471, 4612,
       2884, 4937, 4892, 4584, 4505, 4650, 4070, 2212, 4034, 4106, 3677,
       3671, 3792, 3254, 1938, 2938, 2765, 2616, 2776, 2791, 2100, 1412,
       2316, 2475, 2133, 1780, 2035, 1792, 1054, 1970, 2098, 1899, 1984,
       2078, 1875, 1239, 1985, 2456, 1989, 1825, 2055, 2216, 1549, 2389,
       2653, 2798, 2508, 2541, 2802, 2357, 3502, 3502, 4353, 5063, 6194,
       6986, 5692, 7515, 8778, 8126, 10031, 13835, 18257, 13644, 19577,
       22414, 26995, 28447, 26685, 28469, 21890, 32819, 35013, 38607,
       37199, 35636, 31959, 26011, 37190, 41953, 42464, 38460, 41971,
       35801, 27487, 37290, 43529, 39955, 34694, 32680, 29704, 21402,
       31337, 32762, 30491, 29673, 28514, 25820, 17821, 29803, 28798,
       24166, 22318, 23513, 19894, 12300, 19760, 19661, 18853, 16229,
       17328, 14672, 9313, 15567, 16204, 14424, 14233, 13832, 11584, 7719,
       12246, 13270, 12469, 11361, 12443, 11647, 7449, 12617, 12787,
       12078, 11546, 12118, 10905, 8063, 13550, 13658, 12868, 12095,
       12456, 12100, 8037, 14372, 15600, 13772, 13563, 14087, 12220, 7798,
       14539, 15637, 13773, 13750, 16148, 13956, 9931, 16848, 17481,
       12818, 17518, 18531, 17466, 11586, 22129, 22056, 22064, 20772,
       20624, 20728, 13984, 23676, 22414, 22040, 19948], dtype=object)

In [56]:
reg=XGBRegressor(objective="reg:squarederror",n_estimators=700)
reg.fit(X1,y1)

XGBRegressor(base_score=0.5, booster='gbtree', colsample_bylevel=1,
             colsample_bynode=1, colsample_bytree=1, gamma=0, gpu_id=-1,
             importance_type='gain', interaction_constraints='',
             learning_rate=0.300000012, max_delta_step=0, max_depth=6,
             min_child_weight=1, missing=nan, monotone_constraints='()',
             n_estimators=700, n_jobs=4, num_parallel_tree=1,
             objective='reg:squarederror', random_state=0, reg_alpha=0,
             reg_lambda=1, scale_pos_weight=1, subsample=1, tree_method='exact',
             validate_parameters=1, verbosity=None)

In [57]:
predictions=reg.predict(test[:,:-1])

#deaths_prediction_model

In [68]:
Df["daily_deaths"]=D_frame[["daily_deaths"]].copy()

In [70]:
Df.drop(labels=["active_cases","Target_cases"],axis=1,inplace=True)

In [72]:
Df["Target_deaths"]=Df.daily_deaths.shift(-1)

In [74]:
Df.dropna(inplace=True)

In [76]:
train2,test2=train_test_split(Df,0.2)

In [77]:
X2=train2[:,:-1]
y2=train2[:,-1]

In [78]:
reg2=XGBRegressor(objective="reg:squarederror",n_estimators=700)
reg2.fit(X2,y2)

XGBRegressor(base_score=0.5, booster='gbtree', colsample_bylevel=1,
             colsample_bynode=1, colsample_bytree=1, gamma=0, gpu_id=-1,
             importance_type='gain', interaction_constraints='',
             learning_rate=0.300000012, max_delta_step=0, max_depth=6,
             min_child_weight=1, missing=nan, monotone_constraints='()',
             n_estimators=700, n_jobs=4, num_parallel_tree=1,
             objective='reg:squarederror', random_state=0, reg_alpha=0,
             reg_lambda=1, scale_pos_weight=1, subsample=1, tree_method='exact',
             validate_parameters=1, verbosity=None)

In [79]:
predictions2=reg2.predict(test2[:,:-1])